* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Public Sans, sans-serif, -apple-system, blinkmacsystemfont,
    Segoe UI, roboto, Helvetica Neue, arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol;
  font-size: 15px;
}

body {
  background-color: var(--text-body-color);
}

:root {
  --aside-bg: #ffffff;
  --text-color:rgb(105, 103, 103);
  --text-svg-1-color: #7367f0;
  --text-gray-color: gray;
  --text-lightgray-color: lightgray;
  --text-gary-1-color: #c9c9c9;
  --text-search-header-color: #dadadd;
  --text-green-color: #28c76f;
  --text-blue-color: rgb(0, 207, 232);
  --text-red-color: rgb(234, 84, 85);
  --text-orange-color: rgb(255, 159, 67);
  --text-icon-color: rgb(90, 90, 90);
  --text-body-color: #f3f3f9;
  --text-dark-gray-color: rgb(86 86 86);
  --text-percentage-1-span-color: rgb(180, 180, 180);
  --text-vs-color: #e1e1e1;
  --text-progress-linear-bg-color: rgb(217 217 217);
  --text-progress-linear-determinate-color: #8d8b8b;
  --text-iogin-img-color: rgb(248, 247, 250);
  --text-color-themes-head-color: #a7a6a6;
  --text-slider-contant-3-color: rgba(27, 27, 27, 0.1);
  --text-Revenue-Generated-content-color: rgb(146, 145, 145);
  --text-card-loader-content-color: rgb(173, 173, 173);
  --text-porfile-Earnings-color: rgb(233, 233, 233);
  --text-Tickets-color: rgb(184, 181, 181);
  --text-sales-table-3-content-color: rgb(200, 200, 200);
  --text-thead-color: rgb(124, 124, 124);
  --text-svg-blur-color: rgba(115, 103, 240, 0.2);
  --text-graph-svg-1-color: rgb(207, 207, 207);
  --text-svg-11-color: rgba(223, 223, 223, 0.2);
  --text-svg-12-color: rgba(234, 84, 85, 0.2);
  --text-svg-7-color: rgba(40, 199, 111, 0.2);
  --text-svg-5-color: rgba(0, 207, 232, 0.2);
  --text-svg-6-color: rgba(255, 159, 67, 0.2);
  --text-infomation-color: rgb(112, 111, 111);
  --text-visites-img-color: rgba(115, 103, 240, 0.3);
  --dark-mode-bg: #25293c;
  --dark-mode-bg-1: #2f3349;

}

.text-white {
  color: white !important;
}

.w-0 {
  width: 80px;
}

.w-1 {
  width: 8.33%;
}

.w-2 {
  width: 16.66%;
}

.w-3 {
  width: 25%;
}

.w-4 {
  width: 33.33%;
}

.w-5 {
  width: 41.66%;
}

.w-6 {
  width: 50%;
}

.w-7 {
  width: 58.33%;
}

.w-8 {
  width: 66.66%;
}

.w-9 {
  width: 75%;
}

.w-10 {
  width: 83.33%;
}

.w-11 {
  width: 91.66%;
}

.w-12 {
  width: 100%;
}

.main-content {
  margin-left: 275px;
}

.toggle {
  padding-right: 285px;
}

.container {
  max-width: 1320px;

  margin: 0 auto;
}

.h-100 {
  height: 100%;
}

.row {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}
.hover-width{
  width: 275px;
}
.justify-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.align-item {
  align-items: center;
}

/* aside start */

aside {
  background-color: var(--aside-bg);
  width: 275px;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: scroll;
  height: 100vh;
  transition: all 0.1s linear;
}

.aside-logo {
  color:var(--text-svg-1-color);
  font-size: 30px;
}

.aside-h1 {
  color: var(--text-color);
  font-size: 23px;
  margin-left: 15px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 275px;
  padding: 20px;
  background-color: var(--aside-bg);
  z-index: 1;
  overflow: hidden;
}

.logo a {
  line-height: 7;
}

.aside-logo {
  width: 120px;
}

.clickable-icon {
  color: var(--text-gray-color);
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 20px;
}

/* aside end */

/* nav start */
* {
  scrollbar-width: auto;
  scrollbar-color:white;
}

aside::-webkit-scrollbar {
  width: 13px;
}

aside::-webkit-scrollbar-track {
  margin-top: 75px;
  /* background: var(--aside-bg); */
}

aside::-webkit-scrollbar-thumb {
  /* background-color: var(--text-gary-1-color); */
  border-radius: 20px;
  /* border: 4px solid var(--aside-bg); */
}

.nav {
  margin-top: 75px;
}

.dash-icon {
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: -4px;
}

.nav-span {
  letter-spacing: 0.4px;
  color: var(--text-lightgray-color);
  font-size: 12px;
  padding: 12px 15px;
  display: inline-block;
  text-transform: uppercase;
}

.carousel-delimiter-top-end .v-carousel__controls .v-btn--icon.v-btn--density-default.v-btn--active {
  color: var(--aside-bg);
}

.nav ul li {
  /* display: flex; */
  align-items: center;
  margin: 20px;
}

/* .nav ul li:hover {
  padding: 1px;
  border-radius: 5px;
 background-color: rgba(247, 243, 243, 0.938);
} */
.nav ul li i {
  padding-bottom: 10px;
  color: var(--text-gray-color);
  opacity: 0.8;
  font-size: 12px;
}

.nav ul li a {
  /* float: right; */
  margin-left: 10px;
  /* line-height: 1.8; */
  opacity: 0.8;
  color: var(--text-gray-color);
  font-size: 17px;
}

.fa-chevron-right {
  margin-top: 5px;
  position: absolute;
  left: 225px;
}

.fa-angle-down {
  /* display: none; */
  margin-top: 5px;
  position: absolute;
  left: 225px;
}

.accordion {
  color: var(--text-gray-color);
  display: none;
}

/* nav end */

/* header start */

header {
  border-radius: 7px;
  background-color: var(--aside-bg);
  margin-top: 20px;
  padding: 12px;
  /* margin-left: 100px; */
}

.header-search {
  margin-right: 10px;
  color: var(--text-gray-color);
}

.search-header {
  margin-right: 10px;
  color: var(--text-search-header-color);
  font-size: 17px;
}

.header-key {
  border: 1px solid var(--text-lightgray-color);
  border-radius: 6px;
  block-size: 1.5625rem;
  color: var(--text-lightgray-color);
  line-height: 1.3125rem;
  padding-block: 0.125rem;
  padding-inline: 0.25rem;
}

.header-img {
  border-radius: 50%;
  width: 37px;
  height: 37px;
}

.header-ico {
  margin: 7px;
  color: var(--text-gray-color);
}

.fa-right-from-bracket {
  font-size: 20px;
  padding-right: 7px;
  color: var(--text-gray-color);
}

/* header end  */

/* slider start */
.slider {
  margin-top: 20px;
  /* margin-left: 100px; */
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  border-radius: 5px;
  /* text-align: center; */
  font-size: 18px;
  background: var(--text-svg-1-color);
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* slider end */

/* graph start */
.slider-img {
  border-radius: 5px;
  height: 225px;
  background-color: var(--text-svg-1-color);
  display: flex;
  margin-left: 80px;
  align-items:center;
}

.slider-img img {
  width: 150px;
  height: 150px;
}

.graph {
  margin-top: 10px;
  /* margin-left: 100px; */
}

.slider-contant {
  margin-left: 37px;
  line-height: 2;
}

.slider-contant h2 {
  font-size: 20px;
  color: var(--text-lightgray-color);
}

.slider-contant span {
  font-size: 15px;
  color: var(--text-lightgray-color);
}
.slider-contant-2 {
  margin-top: 20px;
}
.d-none{
  display: none;
}
.d-block{
  display: inline-block !important;
}
.slider-contant-2 h2 {
  font-size: 15px;
  color: var(--text-lightgray-color);
}

.slider-contant-3 {
  padding: 0 10px;
  margin-left: 20px;
  margin-top: 18px;
}

.slider-contant-3 span {
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 5px;
  background-color: var(--text-slider-contant-3-color);
  color: var(--text-lightgray-color);
  font-weight: 550;
}

.slider-contant-3 h3 {
  margin-left: 10px;
  margin-top: 3px;
  font-size: 15px;
  color:  var(--text-lightgray-color);
}

.w-Analytics img {
  width: 100%;
  padding-top: 20px;
  padding-right: 13px;
  height: inherit;
}

/* graph end */

/* Sales-Overview start */
.Sales-Overview {
  border-radius: 5px;
  background-color: var(--aside-bg);
  margin-left: 25px;
}

.card-text span {
  margin-left: 20px;
  color: var(--text-gary-1-color);
  margin-top: 20px;
  font-size: 15px;
}

.card-text h2 {
  margin-top: 20px;
  margin-right: 20px;
  color: var(--text-green-color);
  font-weight: 550;
}

.card-text-h1 h6 {
  font-weight: 500;
  margin-left: 20px;
  color: var(--text-gray-color);
  font-size: 25px;
  margin-top: 20px;
}

.oreder-img {
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.oreder-img svg {
  color: var(--text-blue-color);
  width: 24px;
  height: 24px;
}

.oreder-img p {
  font-weight: 500;
  font-size: 18px;
  color: var(--text-gary-1-color);
  margin-left: 10px;
}

.percentage {
  margin-left: 22px;
  margin-top: 20px;
  line-height: 1.5;
}

.percentage h5 {
  font-size: 20px;
  color: var(--text-gray-color);
  font-weight: 400;
}

.percentage span {
  color: var(--text-percentage-1-span-color);
}

.vs {
  align-self: center;
  color: var(--text-gray-color);
  border-radius: 50%;
  background-color: var(--text-vs-color);
  padding: 3px 4px;
}

.visites-img {
  margin-top: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.oreder-img svg {
  color: var(--text-blue-color);
  background-color: var(--text-svg-5-color);
  width: 20px;
  border-radius: 20%;
  height: 20px;
}

.visites-img p {
  font-weight: 500;
  font-size: 18px;
  color: var(--text-gary-1-color);
  margin-left: 10px;
}

.visites-img svg {
  color: var(--text-svg-1-color);
  background-color: var(--text-visites-img-color);
  margin-left: 10px;
  width: 20px;
  border-radius: 20%;
  height: 20px;
}

.percentage-1 {
  margin-left: 10px;
  margin-top: 20px;
  line-height: 1.5;
}

.percentage-1 h4 {
  font-size: 20px;
  color: var(--text-gray-color);
  font-weight: 400;
}

.percentage-1 span {
  color: var(--text-percentage-1-span-color);
}

.progress {
  margin-top: 18px;
  padding-bottom: 27px;
}

.progress-linear-bg {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: 8px;
  background-color: var(--text-progress-linear-bg-color);
}

.progress-linear-determinate {
  border-radius: 10px;
  height: 8px;
  width: 80%;
  background-color: var(--text-blue-color);
}

/* Sales-Overview end */

/* Revenue-Generated start */

.Revenue-Generated {
  margin-left: 25px;
  background-color: var(--aside-bg);
}

.Revenue-Generated-content svg {
  margin-top: 30px;
  margin-left: 13px;
  padding: 6px;
  background-color: var(--text-svg-7-color);
  color: var(--text-green-color);
  font-size: 25px;
  width: 40px;
  border-radius: 50%;
  height: 40px;
}

.Revenue-Generated-content h4 {
  font-weight: 500;
  margin-left: 20px;
  color: var(--text-gray-color);
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.Revenue-Generated-content span {
  margin-left: 20px;
  color: var(--text-gray-color);
  font-size: 15px;
}

.Revenue-Generated-img {
  overflow-x: hidden;
  margin-top: 10px;
}

/* Revenue-Generated end */

/* card-loader start */

.card-loader {
  position: relative;
  border-radius: 10px;
  margin-top: 20px;
  background-color: var(--aside-bg);
}

.card-loader-content {
  padding-top: 20px;
  padding-left: 25px;
}

.card-loader-content h2 {
  color: var(--text-gray-color);
  font-weight: 400;
  font-size: 20px;
}

.card-loader-content span {
  color: var(--text-card-loader-content-color);
  font-size: 14px;
}

.card-loader-graph {
  /* padding-bottom: 15px;
  padding-top: 45px;
  padding-left: 30px; */
  font-size: 30px;
}

.card-loader-graph h2 {
  margin-left: 27px;
  font-size: 30px;
  color: var(--text-gray-color);
  font-weight: 400;
}

.card-loader-graph span {
  margin-top: 7px;
  margin-left: 20px;
  font-size: 15px;
  color: var(--text-green-color);
  font-weight: 400;
  padding: 4px 4px;
  text-align: center;
  background-color: var(--text-svg-7-color);
  border-radius: 5px;
}

.card-loader-graph p {
  margin-left: 27px;
  margin-top: 10px;
  font-size: 15px;
  color: var(--text-gray-color);
}

.porfile-Earnings {
  margin-left: 24px;
  border-radius: 10px;
  margin-right: 28px;
}

.porfile-Earnings-content {
  margin-top: 15px;
  margin-left: 15px;
}

.svg-1 {
  background-color: var(--text-svg-blur-color);
  color: var(--text-svg-1-color);
  width: 25px;
  border-radius: 20%;
  height: 25px;
  padding: 3px;
}

.card-loader-content-2 {
  padding-bottom: 20px;
}

.porfile-Earnings-content h3 {
  color: var(--text-gray-color);
  margin-left: 10px;
}

.porfile-Earnings-content-h4 {
  color: var(--text-gray-color);
  font-size: 25px;
  font-weight: 400;
  margin-top: 15px;
  margin-left: 20px;
}

.progress-1 {
  margin-left: 8px;
  margin-top: 18px;
  padding-bottom: 17px;
}

.progress-linear-bg-1 {
  border-radius: 10px;
  margin-left: 12px;
  margin-right: auto;
  width: 96%;
  height: 5px;
  background-color: var(--text-progress-linear-bg-color);
}

.progress-linear-determinate-1 {
  border-radius: 10px;
  height: 5px;
  width: 55%;
  background-color: var(--text-svg-1-color);
}

.svg-2 {
  background-color: var(--text-svg-5-color);
  color: var(--text-blue-color);
  width: 25px;
  border-radius: 20%;
  height: 25px;
  padding: 3px;
}

.progress-2 {
  margin-left: 8px;
  margin-top: 18px;
  padding-bottom: 17px;
}

.progress-linear-bg-2 {
  border-radius: 10px;
  margin-left: 12px;
  margin-right: auto;
  width: 96%;
  height: 5px;
  background-color: var(--text-progress-linear-bg-color);
}

.progress-linear-determinate-2 {
  border-radius: 10px;
  height: 5px;
  width: 25%;
  background-color: var(--text-blue-color);
}

.svg-3 {
  background-color: var(--text-svg-12-color);
  color: var(--text-red-color);
  width: 25px;
  border-radius: 20%;
  height: 25px;
  padding: 3px;
}

.progress-3 {
  margin-left: 8px;
  margin-top: 18px;
  padding-bottom: 17px;
}

.progress-linear-bg-3 {
  border-radius: 10px;
  margin-left: 2px;
  margin-right: auto;
  width: 96%;
  height: 5px;
  background-color: var(--text-progress-linear-bg-color);
}

.progress-linear-determinate-3 {
  border-radius: 10px;
  height: 5px;
  width: 65%;
  background-color: var(--text-red-color);
}

/* card-loader end */

/* Support-Tracker start*/

.Support-Tracker {
  line-height: 1.5;
  position: relative;
  padding-bottom: 30px;
  margin-left: 25px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: var(--aside-bg);
}

.Support-Tracker-content {
  padding-top: 30px;
  padding-left: 25px;
}

.Support-Tracker-content h3 {
  color: var(--text-gray-color);
  font-size: 20px;
  font-weight: 400;
}

.Support-Tracker-content span {
  color: var(--text-gray-color);
  line-height: 1.9;
  font-size: 13px;
}

.Tickets {
  margin-left: 25px;
  margin-top: 20px;
}

.Tickets h1 {
  font-weight: 400;
  font-size: 30px;
  color: var(--text-gray-color);
}

.Tickets span {
  color: var(--text-Tickets-color);
}

.three-tickets {
  margin-top: 20px;
  margin-left: 25px;
}

.three-tickets-content {
  margin-left: 10px;
}

.svg-4 {
  font-size: 23px;
  margin-top: 5px;
  color: var(--text-svg-1-color);
  background-color: var(--text-svg-blur-color);
  width: 30px;
  border-radius: 20%;
  height: 30px;
  padding: 5px;
}

.svg-5 {
  font-size: 23px;
  margin-top: 5px;
  color: var(--text-blue-color);
  background-color: var(--text-svg-5-color);
  width: 30px;
  border-radius: 20%;
  height: 30px;
  padding: 5px;
}

.svg-6 {
  font-size: 23px;
  margin-top: 5px;
  color: var(--text-orange-color);
  background-color: var(--text-svg-6-color);
  width: 30px;
  border-radius: 20%;
  height: 30px;
  padding: 5px;
}

.three-tickets-content h3 {
  font-weight: 600;
  color: var(--text-gray-color);
}

.three-tickets-content span {
  color: var(--text-Tickets-color);
}

.text-apex {
  font-size: 45px;
}

/* Support-Tracker end */

/* Sales-by-Countries start */

/* Sales-by-Countries-table-1 start */

.Sales-by-Countries {
  margin-top: 35px;
  /* margin-left: 100px; */
}

.sales-table-1 {
  position: relative;
  padding-bottom: 25px;
  background-color: var(--aside-bg);
  border-radius: 5px;
}

.sales-table-1-content {
  padding-top: 25px;
  padding-left: 25px;
}

.sales-table-1-content h1 {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-gray-color);
}

.sales-table-1-content span {
  font-size: 15px;
  color: var(--text-sales-table-3-content-color);
}

.sales-table-1-infomation {
  padding-top: 25px;
  padding-left: 25px;
}

.infomation-content {
  margin-left: 20px;
}

.infomation-content h1 {
  font-weight: 500;
  color:var(--text-gray-color);
}

.infomation-content span {
  color: rgb(161, 161, 161);
}

.fa-chevron-up {
  color: var(--text-green-color);
}

.fa-chevron-down {
  color: var(--text-red-color);
}

.span2 {
  font-weight: 550;
  color: var(--text-red-color);
}

.span1 {
  font-weight: 550;
  color: var(--text-green-color);
}

.infomation-2 {
  margin-right: 20px;
}

/* Sales-by-Countries-table-1 end */

/* Sales-by-Countries-table-2 start */
.sales-table-2 {
  position: relative;
  padding-bottom: 20px;
  margin-left: 25px;
  background-color: var(--aside-bg);
  border-radius: 5px;
}

.sales-table-2-content h1 {
  padding-left: 25px;
  padding-top: 20px;
  font-weight: 500;
  color: var(--text-gray-color);
  font-size: 20px;
}

.title-table {
  font-weight: 500;
  font-size: 35px;
  margin-left: 25px;
  color: var(--text-gray-color);
  margin-right: 15px;
}

.icon1 {
  margin-right: 5px;
}

.sales-table-2-content-2 {
  margin-top: 20px;
}

.graph-svg {
  border-radius: 7px;
  padding: 5px;
  font-size: 30px;
  color: var(--text-svg-1-color);
  background-color: var(--text-svg-blur-color);
}

.graph-svg-1 {
  border-radius: 7px;
  padding: 5px;
  font-size: 30px;
  color: var(--text-graph-svg-1-color);
  background-color: var(--text-svg-11-color);
}
.rotate-button{
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* Sales-by-Countries-table-2 end */

/* Sales-by-Countries-table-3 start */
.sales-table-3 {
  position: relative;
  line-height: 1.8;
  padding-bottom: 22px;
  margin-left: 25px;
  background-color: var(--aside-bg);
  border-radius: 5px;
}

.sales-table-3-content {
  padding-top: 25px;
  padding-left: 25px;
}

.sales-table-3-content h1 {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-gray-color);
}

.sales-table-3-content span {
  font-size: 15px;
  color: var(--text-sales-table-3-content-color);
}

.svg-7 {
  font-size: 23px;
  color: var(--text-green-color);
  background-color: var(--text-svg-7-color);
  width: 30px;
  border-radius: 20%;
  height: 30px;
  padding: 5px;
}

.svg-8 {
  font-size: 23px;
  background-color: var(--text-svg-5-color);
  color: var(--text-blue-color);
  width: 30px;
  border-radius: 20%;
  height: 30px;
  padding: 5px;
}

.svg-9 {
  font-size: 23px;
  color: var(--text-orange-color);
  background-color: var(--text-svg-6-color);
  width: 30px;
  border-radius: 20%;
  height: 30px;
  padding: 5px;
}

.svg-10 {
  font-size: 23px;
  color: var(--text-svg-1-color);
  background-color: var(--text-svg-blur-color);
  width: 30px;
  border-radius: 20%;
  height: 30px;
  padding: 5px;
}

.svg-11 {
  font-size: 23px;
  color: var(--text-graph-svg-1-color);
  background-color: var(--text-svg-11-color);
  width: 30px;
  border-radius: 20%;
  height: 30px;
  padding: 5px;
}

.svg-12 {
  font-size: 23px;
  background-color: var(--text-svg-12-color);
  color: var(--text-red-color);
  width: 30px;
  border-radius: 20%;
  height: 30px;
  padding: 5px;
}

.sales-table-3-infomation {
  padding-top: 25px;
  padding-left: 25px;
}

.infomation-4 {
  margin-right: 20px;
  display: flex;
}

.infomation-4 h2 {
  font-weight: 400;
  margin-right: 20px;
  color:var(--text-gray-color);
}

.infomation-content-1 {
  margin-top: 5px;
  margin-left: 20px;
}

.infomation-content-1 h1 {
  font-weight: 400;
  color: var(--text-gray-color);
}

/* Sales-by-Countries-table-3 end */

/* Sales-by-Countries end */

/* Source Visits start*/

.Source-Visits {
  margin-top: 30px;
  /* margin-left: 50px; */
}

.Source-Visits-table-1 {
  padding-bottom: 22px;
  margin-left: 25px;
  background-color: var(--aside-bg);
  border-radius: 5px;
}

.infomation-6 {
  margin-right: 20px;
  display: flex;
}

.infomation-6 h2 {
  font-weight: 400;
  margin-top: 5px;
  margin-right: 20px;
  color: var(--text-gray-color);
}

.svg-13 {
  font-size: 23px;
  color: var(--text-gray-color);
  background-color: var(--text-svg-11-color);
  width: 30px;
  border-radius: 20%;
  height: 30px;
  padding: 5px;
}

.infomation-6 span {
  margin-left: 20px;
  font-size: 15px;
  color: var(--text-green-color);
  font-weight: 400;
  padding: 4px 4px;
  text-align: center;
  background-color: var(--text-svg-7-color);
  border-radius: 5px;
}

.infomation-8 {
  margin-right: 20px;
  display: flex;
}

.infomation-8 h2 {
  font-weight: 400;
  margin-top: 10px;
  margin-right: 25px;
  color: var(--text-gray-color);
}

.infomation-8 span {
  margin-top: 7px;
  margin-left: 20px;
  font-size: 15px;
  background-color: var(--text-svg-12-color);
  color: var(--text-red-color);
  font-weight: 400;
  padding: 4px 4px;
  text-align: center;
  border-radius: 5px;
}

.sales-table-4 {
  position: relative;
  padding-bottom: 25px;
  background-color: var(--aside-bg);
  border-radius: 5px;
  /* margin-left: 25px; */
}

.sales-table-4-content {
  padding-top: 25px;
  padding-left: 25px;
}

.sales-table-4-content h1 {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-gray-color);
}

.sales-table-4-content span {
  font-size: 15px;
  color: var(--text-sales-table-3-content-color);
}

.sales-table-4-infomation {
  padding-top: 25px;
  padding-left: 25px;
}

/* Source Visits end*/

/* projects start */
.projects {
  padding-bottom: 22px;
  margin-left: 25px;
  background-color: var(--aside-bg);
  border-radius: 5px;
}

thead th {
  color: var(--text-gray-color);
  font-weight: 600;
}

.projects h1 {
  padding-top: 30px;
  padding-left: 25px;
  font-size: 20px;
  font-weight: 400;
  color: var(--text-gray-color);
}

.v-field__input {
  margin-right: 20px;
  margin-top: 20px;
  padding: 10px;
  width: 40%;
  border-radius: 5px;
  border: 1px solid var(--text-lightgray-color);
  color: rgb(214, 214, 214);
}

tbody tr td {
  margin-top: 20px;
}

.project-1 h1 {
  width: 35px;
  border-radius: 50%;
  padding: 10px 5px;
  background-color: var(--text-svg-blur-color);
  color: var(--text-svg-1-color);
}

.project-1-content {
  margin-left: 10px;
}

.project-1-content h3 {
  color:var(--text-gray-color);
  font-weight: 500;
}

.project-1-content span {
  color: var(--text-lightgray-color);
  font-weight: 500;
}

.projects-table {
  margin-left: 25px;
  padding: 0 30px;
  border-radius: 5px;
  padding-bottom: 20px;
  background-color: var(--aside-bg);
}

/* .profile-icon {
  border: 2px solid white;
} */
.profile-icon img {
  width: 30px;
  border-radius: 50%;
  height: 30px;
  margin-right: -13px;
}

.leader {
  color: rgb(182, 179, 179);
  font-weight: 500;
}

.progress-4 {
  position: relative;
  width: 150px;
  margin-left: 8px;
  margin-top: 18px;
  padding-bottom: 17px;
}

.progress-linear-determinate-4 p {
  color: var(--text-gray-color);
  right: -39px;
  position: absolute;
  top: -5px;
}

.progress-linear-determinate-5 p {
  color:var(--text-gray-color);
  right: -39px;
  position: absolute;
  top: -5px;
}

.progress-linear-determinate-6 p {
  color: var(--text-gray-color);
  right: -39px;
  position: absolute;
  top: -5px;
}

.progress-linear-determinate-7 p {
  color: var(--text-gray-color);
  right: -39px;
  position: absolute;
  top: -5px;
}

.progress-linear-determinate-8 p {
  color:var(--text-gray-color);
  right: -39px;
  position: absolute;
  top: -5px;
}

.progress-linear-bg-4 {
  border-radius: 10px;
  margin-left: 2px;
  margin-right: auto;
  height: 8px;
  background-color: var(--text-progress-linear-bg-color);
}

.progress-linear-determinate-4 {
  border-radius: 10px;
  height: 8px;
  width: 38%;
  background-color: var(--text-svg-1-color);
}

.progress-linear-determinate-5 {
  border-radius: 10px;
  height: 8px;
  width: 45%;
  background-color: var(--text-svg-1-color);
}

.progress-linear-determinate-6 {
  border-radius: 10px;
  height: 8px;
  width: 92%;
  background-color: var(--text-svg-1-color);
}

.progress-linear-determinate-7 {
  border-radius: 10px;
  height: 8px;
  width: 56%;
  background-color: var(--text-svg-1-color);
}

.progress-linear-determinate-8 {
  border-radius: 10px;
  height: 8px;
  width: 25%;
  background-color: var(--text-svg-1-color);
}

.project-2 img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* projects start */

/* footer start */

footer {
  margin-top: 30px;
  /* margin-left: 100px; */
  margin-bottom: 25px;
}

.footer-svg {
  color: var(--text-red-color);
}

.footer-content-1 p {
  margin: 5px;
}

.footer-content-1 svg {
  margin-left: 5px;
}
.footer-content-1 span {
  color: var(--text-gray-color);
}
.footer-content-1 p {
  color: var(--text-gray-color);
}

.footer-span a {
  color: var(--text-svg-1-color);
  margin: 0 5px;
  font-weight: 550;
}

.text-primary {
  color: var(--text-svg-1-color);
}

/* footer end */

.slide-left {
  margin-left: -60px;
}

/* login page start */
.iogin-img {
  background-color: var(--text-gray-1-color);
}

.login-bg {
  height: 550px;
  margin-top: 230px;
  margin-left: 400px;
  width: 500px;
}

.login-form {
  padding-left: 50px;
  height: 100%;
  margin-top: 200px;
  background-color: var(--aside-bg);
  max-width: 500px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.login-form-content h5 {
  color: var(--text-gray-color);
  font-size: 20px;
  font-weight: 400;
}

.login-form-content p {
  color: var(--text-gray-color);
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
}

.login-form-content-2 {
  line-height: 1.8;
  margin-top: 25px;
  /* margin-left: 80px; */
  padding-top: 6px;
  padding-left: 5px;
  border-radius: 5px;
  height: 55px;
  width: 400px;
  background-color: var(--text-svg-blur-color);
  color: var(--text-svg-1-color);
}

.text-caption {
  font-size: 12px;
}

.login-form-content-3 {
  line-height: 3;
}

.email-input {
  margin-top: 10px;
  padding: 9px;
  display: flex;
  border: 1px solid var(--text-lightgray-color);
  border-radius: 5px;
  width: 89%;
  background-color: transparent;
  color: white;
}

.btn {
  justify-content: center;
  margin-top: 40px;
  font-size: 19px;
  padding: 10px;
  display: flex;
  color: var(--aside-bg);
  background-color: var(--text-svg-1-color);
  border: 1px solid var(--text-lightgray-color);
  border-radius: 5px;
  width: 89%;
}

.aside-logo-1 {
  color: var(--text-svg-1-color);
  font-size: 30px;
  margin-bottom: 20px;
}

/* login page end */

/* Customize start */
.Customize {
  background-color: var(--aside-bg);
  width: 20%;
  height: 30vh;
  border: 2px solid var(--text-lightgray-color);
  z-index: 990;
  position: fixed;
  top: 2%;
  right: 23.5%;
  transition: all 0.3s linear;
  opacity: 0;
}
.Customize1 {
  background-color: var(--aside-bg);
  width: 20%;
  height: 30vh;
  z-index: 990;
  position: fixed;
  top: 13%;
  right: 20.5%;
  transition: all 0.3s linear;
  opacity: 0;
}
.move-cus {
  opacity: 1;
}
#setting-button {
  position: relative;
  right: 13px;
  top: 5%;
}

#setting-button button {
  background-color: transparent;
  color:gray;
  padding: 9px;
  border-radius: 8px;
  border: 0px;
}
#setting-button1 {
  position: relative;
  right: 0px;
  top: 5%;
}

#setting-button1 button {
  background-color: transparent;
  color:gray;
  padding: 9px;
  border-radius: 8px;
  border: 0px;
}

.color-themes-head {
  padding-top: 10px;
  line-height: 1.5;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 1px solid var(--text-lightgray-color);
}

.color-themes-head h6 {
  color: var(--text-gray-color);
  font-weight: 400;
  font-size: 18px;
}

.color-themes-head span {
  color: var(--text-color-themes-head-color);
  font-weight: 400;
  font-size: 15px;
}

.customizer-section {
  padding-top: 25px;
  line-height: 1.5;
  padding-left: 20px;
}

.customizer-section p {
  color: var(--text-gray-color);
  font-weight: 400;
  font-size: 15px;
}

.dark-light-theme {
  padding-top: 10px;
  padding-left: 20px;
}

.dark-light-theme a {
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  color: var(--text-gray-color);
}

.dark-light-theme p {
  margin-left: 10px;
  font-size: 19px;
}

.dark-light-theme i {
  font-size: 19px;
  color: var(--text-svg-1-color);
}

.primary-color {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}
.primary-color P {
  color: var(--text-gray-color);
  font-weight: 400;
  font-size: 15px;
}

.colors-choice {
  margin-top: 15px;
  margin-left: 15px;
  padding-bottom: 20px;
}

.color-1 {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background-color: var(--text-svg-1-color);
  margin: 0 15px;
}

.color-2 {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background-color: var(--text-green-color);
  margin: 0 10px;
}

.color-3 {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background-color: var(--text-blue-color);
  margin: 0 10px;
}

.color-4 {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background-color: var(--text-red-color);
  margin: 0 10px;
}

.toggle-setting {
  display: block;
}

.toogle-width {
  width: 200px;
}

/* Customize end*/
.top {
  position: fixed;
  bottom: 20px;
  right: 40px;
  border-radius: 50%;
  color: var(--aside-bg);
  padding: 10px;
  background-color: var(--text-svg-1-color);
  display: none;
}

/* .darken {
  background-color: #25293c;
  color: red !important;
} */

/* .main-dark-mode{
  background-color: #2f3349;
}
.dark-mode-text{
  color:var(--text-lightgray-color) !important;
} */
.w-0 {
  width: 80px;
}

.d-none {
  display: none;
}